@{
  Layout = "_Layout";
}

@model TheTreats.Models.Flavor

<h2>Delete Flavor:</h2>
<hr/>
@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)
@using (Html.BeginForm())
{
    
    <input type="submit" value="Delete" />
}
<br>
<p>@Html.ActionLink("Back to Flavors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> 