@{
  Layout = "_Layout";
}

@model TheTreats.Models.Treat

<h2>Delete Treat:</h2>
<hr/>
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    
    <input type="submit" value="Delete" />
}
<br>
<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>